*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html, body 
{
    height: 100%;
    margin: 0;
}

body 
{
    background-color: #212120;
    color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}


img
{
    border: solid 5px #fff;
    margin-top: 20px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content 
{
    flex: 1;
    padding: 0 15%;
    background-color: #ffffff;
    background-image: url('media/background.jpg');
    background-repeat: repeat;
}

header
{
	width: 100%;
    background-color: #313030;
    height: auto;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #fff;
}

h1
{   
    padding-top: 5px;
    font-size: 3em;
    color: #fff;
}

h2
{
    margin: 0   ;
    padding-top: 5px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 5px;
    text-align: center;
}

p
{
    padding-left: 3em;
    padding-bottom: 3vh;
}

div
{
    margin: 0;
}

ul 
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

label 
{
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="title"],
input[type="languages"],
input[type="link"],
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
}

button[type="submit"] 
{
    padding: 10px 20px;
    background-color: #545454;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover 
{
    background-color: #ffa3a3;
}

nav
{
    font-size: 1.5em;

    text-align: center;
    font-weight: bold;
    background-color: #1d1d1d;
    border-bottom: 2px solid #3e3d3d;
}

body nav 
{
    width: 100%;
}

nav a:link {color: #ffffff;}
nav a:visited {color: #545454;}
nav a:hover {color: #ffa3a3;}

footer a:link {color: #ffffff;}
footer a:visited {color: #545454;}
footer a:hover {color: #ffa3a3;}

main a:link {color: #ffffff;}
main a:visited {color: #545454;}
main a:hover {color: #ffa3a3;}

nav a
{
    text-decoration: none;
}

main a
{
    padding-left: 3em;
}

ul li 
{
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

footer
{
    border-top: solid 2px #fff;
    background-color: #313030;
    color: #fff;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    margin-top: auto;
}

.floatleft
{
    padding-right: 20px;
    padding-bottom: 20px;
}

main
{
    padding-bottom: 0;
    padding-left: 15%;
    padding-right: 15%; 
    background-color: #212120;
    padding-top: 50px; 
    flex: 1;
    min-height: calc(100vh - 141px)
}

.table-container 
{
    overflow-x: auto;
}

table 
{
    width: 100%;
    border-collapse: collapse;
}

th, td 
{
    padding: 8px;
    word-wrap: break-word;
}

tbody tr:nth-child(even) 
{
    background-color: #2e2e2e;
}

tbody tr:hover 
{
    background-color: #000000;
}

th 
{
    background-color: #333;
    color: #fff;
}